/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * Colors
 */
.nav {
  margin: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #fff; }
  .nav__link {
    margin-right: 1em;
    padding: .25em 0;
    text-decoration: none; }
    .nav__link:last-child {
      margin-right: 0; }
    .nav__link:hover {
      color: #fff;
      text-decoration: none; }

.form__group {
  margin: 1em; }
.form__label {
  display: block;
  margin-bottom: .25em; }
.form__input, .form__textarea, .form__select {
  width: 100%;
  padding: .5em; }
.form__textarea {
  height: 10em; }
.form__button {
  padding: .25em .5em;
  background-color: #daa520;
  border: 2px solid #fff;
  color: #fff;
  font-size: 16px; }
  .form__button:hover {
    cursor: pointer;
    text-decoration: none; }

.post {
  margin: 1em; }
  .post__header {
    margin-bottom: 1em; }
  .post__title {
    margin-bottom: .25em;
    font-size: 1.5em; }
  .post__byline {
    font-size: .75em; }
  .post__author {
    color: #daa520; }
  .post__links {
    margin: 1em 0; }
  .post__link {
    margin-right: .5em;
    padding: .25em .5em;
    background-color: #daa520;
    border: 2px solid #fff;
    color: #fff; }
    .post__link:hover {
      cursor: pointer;
      text-decoration: none; }

.post-list {
  margin: 1em; }
  .post-list__item {
    margin-bottom: 2.5em; }
  .post-list__title {
    display: inline-block;
    margin-bottom: .25em;
    font-size: 1.5em; }
  .post-list__byline {
    margin-bottom: .75em;
    font-size: .75em; }
  .post-list__author {
    color: #daa520; }
  .post-list__info {
    font-size: 1em; }
  .post-list__link {
    margin-left: .5em;
    color: #fff; }
    .post-list__link:hover {
      cursor: pointer; }

.comment-list {
  margin: 1em; }
  .comment-list__item {
    margin: 2em 0 0 2em; }
  .comment-list__body {
    margin-bottom: .25em; }
  .comment-list__byline {
    font-size: .75em; }
  .comment-list__author {
    color: #daa520; }

.vote-mechanism {
  float: left;
  margin-right: .5em;
  text-align: center; }
  .vote-mechanism__button {
    background-color: #000;
    color: #daa520; }
    .vote-mechanism__button:hover {
      cursor: pointer; }
  .vote-mechanism__score {
    margin: .5em 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background-color: #000;
  color: #fff;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 16px; }

a {
  color: #daa520;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

/*# sourceMappingURL=index.css.map */
