.comment-list {
  margin: 2em;

  &__item {
    clear: both;
    margin-bottom: 1em;
  }

  &__body {
    margin-bottom: .25em;
  }

  &__byline {
    font-size: .75em;
  }

  &__author {
    color: $color--highlight;
  }
} // .comment-list
