.form {
  &__group {
    margin: 1em;
  }

  &__label {
    display: block;
    margin-bottom: .25em;
  }

  &__input, &__textarea, &__select {
    width: 100%;
    padding: .5em;
  }

  &__textarea {
    height: 10em;
  }
} // .form
