.form {
  &__group {
    margin: 1em;
  }

  &__label {
    display: block;
    margin-bottom: .25em;
  }

  &__input, &__textarea, &__select {
    width: 100%;
    padding: .5em;
  }

  &__textarea {
    height: 10em;
  }

  &__button {
    padding: .25em .5em;
    background-color: $color--highlight;
    border: 2px solid #fff;
    color: $color--text;
    font-size: 16px;

    &:hover {
      cursor: pointer;
      text-decoration: none;
    }
  }
} // .form
