@import 'reset';
@import 'variables';
@import 'nav';
@import 'form';
@import 'post';
@import 'post-list';
@import 'comment-list';
@import 'vote-mechanism';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $color--background;
  color: $color--text;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  font-size: 16px;
}

a {
  color: $color--highlight;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
