.nav {
  margin: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid $color--text;

  &__link {
    margin-right: 2em;
    padding: .25em 0;

    &:last-child {
      margin-right: 0;
    }
  }

  &__label {
    margin-right: 1em;
  }
} // .nav
