.post {
  margin: 1em;

  &__title {
    margin-bottom: .25em;
    font-size: 1.5em;
  }

  &__byline {
    font-size: .75em;
  }

  &__author {
    color: $color--highlight;
  }

  &__body {
    clear: left;
    margin-bottom: 1em;
  }

  &__info {
    clear: left;
  }

  &__link {
    margin-left: .5em;
    color: $color--text;

    &:hover {
      color: $color--highlight;
      cursor: pointer;
    }
  }
} // .post
