.post {
  margin: 1em;

  &__title {
    margin-bottom: .25em;
    font-size: 1.5em;
  }

  &__byline {
    font-size: .75em;
  }

  &__author {
    color: $color--highlight;
  }

  &__body {
    margin: 1em 0;
  }

  &__info {
    clear: left;
  }

  &__link {
    margin-left: .5em;
  }
} // .post
