.post {
  margin: 1em;
  
  &__header {
    margin-bottom: 1em;
  }

  &__title {
    margin-bottom: .25em;
    font-size: 1.5em;
  }

  &__byline {
    font-size: .75em;
  }

  &__author {
    color: $color--highlight;
  }

  &__links {
    margin: 1em 0;
  }

  &__link {
    margin-right: .5em;
    padding: .25em .5em;
    background-color: $color--highlight;
    border: 2px solid $color--text;
    color: $color--text;

    &:hover {
      cursor: pointer;
      text-decoration: none;
    }
  }
} // .post
