.post-list {
  margin: 1em;

  &__item {
    margin-bottom: 2em;
  }

  &__title {
    display: inline-block;
    margin-bottom: .25em;
    font-size: 1.5em;
  }

  &__byline {
    font-size: .75em;
  }

  &__author {
    color: $color--highlight;
  }
} // .post-list
