.vote-mechanism {
  float: left;
  margin-right: .5em;
  text-align: center;

  &__button {
    background-color: $color--background;
    color: $color--highlight;

    &:hover {
      cursor: pointer;
    }
  }

  &__score {
    margin: .5em 0;
  }
} // .vote-mechanism
